
.vs/CinemaProject/FileContentIndex/e8df815e-9df4-4478-a894-636ac26cebfa.vsidx
.vs/CinemaProject/FileContentIndex/938bb746-619c-4a5d-80b0-a65bc2d39bd9.vsidx
.vs/CinemaProject/FileContentIndex/91ff22d3-0e22-43a3-a4db-d7dd2fe134ef.vsidx
.vs/CinemaProject/FileContentIndex/852688df-d660-4c32-9f62-0e96c2dc4689.vsidx
.vs/CinemaProject/FileContentIndex/7bd6089a-0cd0-49ce-9e1a-0184df5c903c.vsidx
.vs/CinemaProject/FileContentIndex/6f50deff-e97c-4de3-8d1b-164f1d79a510.vsidx
.vs/CinemaProject/FileContentIndex/65088fd9-b351-4736-8d89-3e054d89c471.vsidx
.vs/CinemaProject/FileContentIndex/627f4c09-cb28-4e5a-b9fd-c5f24f0677f0.vsidx
.vs/CinemaProject/FileContentIndex/65088fd9-b351-4736-8d89-3e054d89c471.vsidx
.vs/CinemaProject/FileContentIndex/6f50deff-e97c-4de3-8d1b-164f1d79a510.vsidx
.vs/CinemaProject/FileContentIndex/91ff22d3-0e22-43a3-a4db-d7dd2fe134ef.vsidx
.vs/CinemaProject/FileContentIndex/938bb746-619c-4a5d-80b0-a65bc2d39bd9.vsidx
.vs/CinemaProject/v17/Browse.VC.db
.vs/CinemaProject/v17/.suo
.vs/CinemaProject/FileContentIndex/d4093985-1309-4c00-b7cb-26727d784799.vsidx
.vs/CinemaProject/FileContentIndex/a33b38cf-cefe-4fbd-87ea-950a9aab5e27.vsidx
.vs/CinemaProject/FileContentIndex/97beb3af-15ef-48bc-9eaa-d55bdaddf827.vsidx
.vs/CinemaProject/FileContentIndex/8538cf83-4b4f-459f-bde1-cfa5e09a995b.vsidx
.vs/CinemaProject/FileContentIndex/49431b5c-e2f2-4a64-b054-b1235762767b.vsidx
.vs/CinemaProject/FileContentIndex/4b34a446-ed1d-4d8f-bbfa-161df6b7d761.vsidx
.vs/CinemaProject/FileContentIndex/5be0b5f0-244f-4dde-8993-3cf9202ec19b.vsidx
.vs/CinemaProject/FileContentIndex/ca557721-89fb-4294-870a-08b07e6de484.vsidx
.vs/CinemaProject/v17/.suo
.vs/CinemaProject/v17/Browse.VC.db
.vs/CinemaProject/FileContentIndex/24a79a2e-b654-4c19-8122-6512384abc4d.vsidx
.vs/CinemaProject/FileContentIndex/969f0136-298c-4b9d-812a-1bd4d6a3c040.vsidx
.vs/CinemaProject/FileContentIndex/d2bfdcc4-345d-4f1c-b19b-eb6a1e2bbdb9.vsidx
.vs/CinemaProject/FileContentIndex/dc0fee0a-9c73-4365-9206-c4a4062837a1.vsidx
.vs/CinemaProject/v17/.suo
.vs/CinemaProject/v17/Browse.VC.db
.vs/CinemaProject/v17/Browse.VC.db-shm
.vs/CinemaProject/v17/Browse.VC.db-wal
.vs/CinemaProject/v17/Browse.VC.opendb
.vs/CinemaProject/v17/ipch/AutoPCH/12a8526ffc51b79f/SHOWTIMELIST.ipch
.vs/CinemaProject/v17/ipch/AutoPCH/2c252706d4decd27/CINEMAPROJECT.ipch
.vs/CinemaProject/v17/ipch/AutoPCH/30f974cd5a9d5a17/HALLSLIST.ipch
.vs/CinemaProject/v17/ipch/AutoPCH/4191780f6f3249a8/CINEMARESERVATION.ipch
.vs/CinemaProject/v17/ipch/AutoPCH/56b1e463451d4fbf/MOVIEGRAPH.ipch
.vs/CinemaProject/v17/ipch/AutoPCH/67a09132e949543b/MOVIELIST.ipch
.vs/CinemaProject/v17/ipch/AutoPCH/c09fc421718cf458/USER.ipch
CinemaProject/0
CinemaProject/x64/Debug/arraycustom.obj.enc
CinemaProject/x64/Debug/Administrator.obj
CinemaProject/x64/Debug/ArrayCustom.obj
CinemaProject/x64/Debug/CinemaProject.exe.recipe
CinemaProject/x64/Debug/CinemaProject.ilk
CinemaProject/x64/Debug/CinemaProject.log
CinemaProject/x64/Debug/CinemaProject.obj
CinemaProject/x64/Debug/CinemaProject.tlog/CinemaProject.lastbuildstate
CinemaProject/x64/Debug/CinemaProject.tlog/CL.command.1.tlog
CinemaProject/x64/Debug/CinemaProject.tlog/CL.read.1.tlog
CinemaProject/x64/Debug/CinemaProject.tlog/CL.write.1.tlog
CinemaProject/x64/Debug/CinemaProject.tlog/link.command.1.tlog
CinemaProject/x64/Debug/CinemaProject.tlog/link.read.1.tlog
CinemaProject/x64/Debug/CinemaProject.tlog/link.write.1.tlog
CinemaProject/x64/Debug/CinemaReservation.obj
CinemaProject/x64/Debug/cinemareservation.obj.enc
CinemaProject/x64/Debug/HallsList.obj
CinemaProject/x64/Debug/HallsTree.obj
CinemaProject/x64/Debug/MovieGraph.obj
CinemaProject/x64/Debug/MovieList.obj
CinemaProject/x64/Debug/ShowtimeList.obj
CinemaProject/x64/Debug/SortProperty.obj
CinemaProject/x64/Debug/User.obj
CinemaProject/x64/Debug/vc143.idb
CinemaProject/x64/Debug/vc143.pdb
x64/Debug/CinemaProject.exe
x64/Debug/CinemaProject.pdb
