
.vs/CinemaProject/FileContentIndex/e8df815e-9df4-4478-a894-636ac26cebfa.vsidx
.vs/CinemaProject/FileContentIndex/938bb746-619c-4a5d-80b0-a65bc2d39bd9.vsidx
.vs/CinemaProject/FileContentIndex/91ff22d3-0e22-43a3-a4db-d7dd2fe134ef.vsidx
.vs/CinemaProject/FileContentIndex/852688df-d660-4c32-9f62-0e96c2dc4689.vsidx
.vs/CinemaProject/FileContentIndex/7bd6089a-0cd0-49ce-9e1a-0184df5c903c.vsidx
.vs/CinemaProject/FileContentIndex/6f50deff-e97c-4de3-8d1b-164f1d79a510.vsidx
.vs/CinemaProject/FileContentIndex/65088fd9-b351-4736-8d89-3e054d89c471.vsidx
.vs/CinemaProject/FileContentIndex/627f4c09-cb28-4e5a-b9fd-c5f24f0677f0.vsidx
.vs/CinemaProject/FileContentIndex/65088fd9-b351-4736-8d89-3e054d89c471.vsidx
.vs/CinemaProject/FileContentIndex/6f50deff-e97c-4de3-8d1b-164f1d79a510.vsidx
.vs/CinemaProject/FileContentIndex/91ff22d3-0e22-43a3-a4db-d7dd2fe134ef.vsidx
.vs/CinemaProject/FileContentIndex/938bb746-619c-4a5d-80b0-a65bc2d39bd9.vsidx
.vs/CinemaProject/v17/Browse.VC.db
.vs/CinemaProject/v17/.suo
.vs/CinemaProject/FileContentIndex/d4093985-1309-4c00-b7cb-26727d784799.vsidx
.vs/CinemaProject/FileContentIndex/a33b38cf-cefe-4fbd-87ea-950a9aab5e27.vsidx
.vs/CinemaProject/FileContentIndex/97beb3af-15ef-48bc-9eaa-d55bdaddf827.vsidx
.vs/CinemaProject/FileContentIndex/8538cf83-4b4f-459f-bde1-cfa5e09a995b.vsidx
